body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
  background-image: url(./homepage.png);
  background-size: cover;
  backgroundRepeat: no-repeat;
  color: white;
  
}


.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.353) !important;
}

.card-body{
  padding:5rem 0 !important;
}

.container-fluid.row{
  padding-top:10rem;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn:hover{
  box-shadow: 5px 10px 20px 2px rgba(0, 0, 0, 1.553) !important;
}


